/* Стандартные классы */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/static/Montserrat-Medium.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat Italic";
    src: url('../fonts/static/Montserrat-Italic.ttf');
    font-style: normal;
    font-weight: light;
}
@font-face {
    font-family: "Montserrat Bold";
    src: url('../fonts/static/Montserrat-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}
body{
    font-family: 'Montserrat';
}
.link{
    color: black;
    text-decoration: none;
}
.list{
    list-style-type: none;
}
.button{
    border: none;
    outline: none;
    cursor: pointer;
}
.logo_text{
    font-family: 'Montserrat Bold';
    font-weight: normal;
    color: #333333;
    font-size: 1.2em;
}
.description{
    font-family: 'Montserrat Italic';
    line-height: 25px;
    font-size: 1em;
}
/* Осмысленные блоки */
.header{
    width: 100%;
    height: 100px;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url('../img/main/block_1/bg.png');
}
.nav__links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links__a{
    margin-right: 20px;
}
.links__a:hover{
    color: #00BF78;
}
.nav__contacts h1{
    font-weight: normal;
    font-size: 1.5em;
}
.nav__contacts p{
    font-size: 1em;
}
.block_1__content{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/main/block_1/bg.png');
}
.content__h1{
    font-size: 60px;
}
.content__left_block{
    background: url('../img/main/block_1/bg.png');
    display: flex;
    flex-direction: column;
    width: 40%;
}
.left_block__button{
    background: #FB9475;
    border-radius: 15px;
    padding: 10px;
    color: white;
    transition: 400ms;
    width: 30%;
    text-align: center;
}
.left_block__button:hover{
    transform: scale(1.1);
}
.nav__menu_btn{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
.right_block__image_block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_block__button{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.content__block_buttons{
    display: flex;
    flex-direction: column;
    position: relative;
}
.right_block__button:nth-child(1){
    background: url('../img/main/block_1/buttons/vk.svg') center no-repeat;
}
.right_block__button:nth-child(2){
    background: url('../img/main/block_1/buttons/instagram.svg') center no-repeat;
}
.right_block__button:nth-child(3){
    background: url('../img/main/block_1/buttons/youtube.svg') center no-repeat;
}
.block_text__logo{
    width: 80%;
    font-size: 4em;
    color: #333333; 
}
.block_2__about_block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.content__block_text{
    text-align: left;
    width: 30%;
}
.block_text__header_text{
    font-family: 'Montserrat Italic';
    font-weight: normal;
    font-size: 1.3em;
    padding: 10px;
    line-height: 28px;
}
.block_text__main_text{
    padding: 10px;
    line-height: 26px;
}
.block_2__advantages_block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 80%;
}
.block_2__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 800px;
}
.advantages_block{
    width: 25%;
}
.advantages_block__description{
    font-family: 'Montserrat Italic';
    line-height: 25px;
    font-size: 1em;
}
.block_3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.block_3__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
    text-align: left;
}
.content__logo{
    width: 100%;
    font-size: 4em;
    color: #333333;
}
.content__services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.services_block{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.services_block__link{
    background: #FB9475;
    border-radius: 15px;
    padding: 10px;
    color: white;
    transition: 400ms;
    width: 40%;
    text-align: center;
}
.services_block__link:hover{
    transform: scale(1.1);
}
.services_block__image{
    width: 100%;
}
.block_4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}
.block_4__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}
.navigation__logo{
    width: 80%;
    font-size: 4em;
    color: #333333;
}
.navigation__link:hover{
    color: #00BF78;
    border-bottom: 2px solid #00BF78;
    transition: 100ms;
}
.content__blocks{
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: repeat(4, 100px);
}
.blocks__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blocks__block:nth-child(even){
    margin-left: 20px;
}
.blocks__price{
    color: #00BF78;
}
.block_5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F6F7;
}
.block_5__content{
    width: 75%;
}
.block_5_content__logo{
    width: 100%;
    font-size: 4em;
    color: #333333;
}
.content__grid_block{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.block__mini_description{
    text-transform: uppercase;
}
.block_6__content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}
.header__logo{
    font-size: 4em;
    color: #333333;
}
.content_header__arrow_button{
    background-color: #F8F6F7;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
}
.content__image_grid_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.image_block__image{
    width: 23%;
}
.content__brands_block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

/* Модификаторы  */
.text_align_end{
    text-align: end;
}
.active{
    display: block;
}
.margin_top{
    margin-top: 20px;
}
.margin_top100{
    margin-top: 100px;
}
.margin_top50{
    margin-top: 50px;
}
.margin_left{
    margin-left: 20px;
}
.margin_bottom{
    margin-bottom: 20px;
}
.margin_bottom100{
    margin-bottom: 100px;
}
/* Адаптивка */
@media (max-width: 600px) {
    .nav__links{ display: none;}
    .nav__contacts{ display: none;}
    .content__image{ width: 90%; }
    .block_1__content{ flex-direction: column-reverse; }
    .content__left_block{justify-content: center; align-items: center; width: 100%; text-align: center;}
    .content__h1{ font-size: 3em;}
    .left_block__button{width: 50%;  margin-top: 10px;}
    .block_image_image{ width: 100%; }
    .content__block_text{width: 100%;}
    .block_text__logo{ width: 100%; text-align: center;}
    .block_2__advantages_block{ flex-direction: column;}
    .advantages_block{ width: 80%;}
    .block_2__content{flex-direction: column; height: auto;}
    .content__services{display: flex; flex-direction: column; align-items: center; text-align: left;}
    .block_3__content{ width: 100%; text-align: center;}
    .services_block__link{width: 25%;}
    .block_4__content{width: 80%;}
    .content__blocks{display: flex;flex-direction: column;}
    .blocks__block:nth-child(even){margin-left: 0;}
    .blocks__block{margin-top: 10px;}
    .navigation__logo{text-align: center; width: 100%;}
    .content__grid_block{display: flex; flex-direction: column;align-items: center;}
    .block_5__content{width: 100%;}
    .block_5_content__logo{text-align: center;}
    .block_5__content__description{text-align: center;}
    .block__image{width: 90%;}
    .grid_block__block{margin-top: 20px;width: 100%;text-align: center;}
    .content__header{display: block; text-align: center;}
    .content__image_grid_block{flex-direction: column;}
    .content__brands_block{flex-direction: column;}
    .image_block__image{width: 90%; margin-top: 30px;}
    .brands_block__brand{margin-top: 20px;}
    .content_header__arrow_button{display: none;}
}
@media (min-width: 600px){
    .nav__menu_btn{ display: none;}
}